// colors
$primary-color: #333;
$secondary-color: #f7f7f7;
$accent-color: #ff9900;

$palette: (
    primary: $primary-color,
    secondary: $secondary-color,
    accent: $accent-color,
);

@each $name, $color in $palette {
    .text-#{$name} {
        color: $color;
    }
    .bg-#{$name} {
        background-color: $color;
    }
}

// shadows
$default-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
