// format
.container {
    max-width: 1080px;
    margin-inline: 2rem;

    &-small {
        max-width: 800px;
    }
}

.m-auto {
    margin: auto;
}

// text
.text-center {
    text-align: center;
}

.bold {
    font-weight: 900;
}

// flex
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

// debug classes
.test {
    background-color: lime;
}
