.text-center {
    text-align: center;
}

// font size generator
$font-sizes: (
    "04": 0.4rem,
    "06": 0.6rem,
    "08": 0.8rem,
    "10": 1rem,
    "12": 1.2rem,
    "14": 1.4rem,
    "16": 1.6rem,
    "18": 1.8rem,
    "20": 2rem,
);

@each $key, $value in $font-sizes {
    .fs-#{$key} {
        font-size: $value;
    }
}
