footer {
    background-color: $primary-color;
    color: $secondary-color;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    height: 6rem;

    .footer-socials {
        margin-bottom: 0.5rem;

        svg {
            cursor: pointer;
            fill: $secondary-color;
            height: 2rem;
            width: 2rem;
            transition: 300ms ease-in-out;

            &.github {
                background-color: #111;
                border-radius: 1rem;
                padding: 0.1rem;

                &:hover {
                    fill: #111;
                    background-color: $secondary-color;
                }
            }

            &.linkedin {
                &:hover {
                    fill: #0077b5;
                }
            }
        }
    }
}
