nav-bar {
    background-color: $primary-color;
    color: $secondary-color;
    font-size: 1rem;
    list-style: none;
    display: flex;
    justify-content: right;
    position: relative;

    .nav-logo {
        position: absolute;
        left: 0.5rem;
        top: 0;
        fill: $accent-color;
        height: 2.2rem;
        cursor: pointer;
        transition: 300ms ease-in-out;
        padding: .2rem;

        &:hover {
            fill: $secondary-color;
            padding: .1rem;
        }
    }

    a {
        display: inline-block;
        cursor: pointer;
        color: $secondary-color;
        font-weight: 900;
        text-decoration: none;
        padding: 0.5rem 1rem;
        transition-property: color, background-color;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;

        &:hover {
            color: $accent-color;
        }
    }

    .selected {
        background-color: $secondary-color;
        color: $primary-color;

        &:hover {
            color: $primary-color;
        }
    }
}
