nav-bar {
    background-color: $primary-color;
    color: $secondary-color;
    font-size: 1rem;
    list-style: none;
    display: flex;
    justify-content: right;

    a {
        display: inline-block;
        cursor: pointer;
        color: $secondary-color;
        font-weight: 900;
        text-decoration: none;
        padding: 0.5rem 1rem;

        &:hover {
            color: $accent-color;
        }
    }

    .selected {
        background-color: $secondary-color;
        color: $primary-color;
        transition: 400ms ease-in-out;

        &:hover {
            color: $primary-color;
        }
    }
}
