.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 60ch;

        fieldset {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            input,
            textarea {
                width: 100%;
                padding: 0.5rem;
                margin: 0.5rem;
                border-radius: 0.25rem;
                border: 1px solid #ccc;
                box-shadow: $default-shadow;

                resize: vertical;
            }
        }
    }

    p {
        font-size: 0.8rem;
        padding: 0.2rem;
    }

    a {
        color: $accent-color;
    }
}
