nav-bar {
    background-color: $primary-color;
    color: $secondary-color;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;

    .menu-button {
        margin: 1rem;
        cursor: pointer;
        width: 2.2rem;
        height: 2rem;
        position: relative;

        span {
            position: absolute;
            width: 100%;
            height: 0.2rem;
            background-color: $secondary-color;
            border-radius: 0.15rem;
            transition: 300ms ease-in-out;
            top: calc(50% - 0.1rem);

            &:nth-child(1) {
                transform: translateY(-0.55rem);
            }

            &:nth-child(2) {
                transform: translateY(0.55rem);
            }
        }

        &:hover {
            span {
                background-color: $accent-color;
            }
        }

        &.menu-button-open {
            span {
                &:nth-child(1) {
                    transform: rotate(-45deg);
                }

                &:nth-child(2) {
                    transform: rotate(45deg);
                }

                &:nth-child(3) {
                    transform: translateX(25%);
                    height: 0;
                    opacity: 0;
                }
            }
        }

        @media (min-width: 768px) {
            display: none;
        }
    }

    .links-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $primary-color;
        position: absolute;
        top: 4rem;
        left: 0;
        right: 0;
        height: 0;
        overflow: hidden;
        z-index: 1;
        transition: 300ms ease-in-out;

        &.links-container-open {
            height: max(calc(100vh - 6rem - 4rem), calc(500px));
        }

        a {
            cursor: pointer;
            color: $secondary-color;
            font-size: 2rem;
            transition-property: color, background-color;
            transition-duration: 300ms;
            transition-timing-function: ease-in-out;
            position: relative;
            margin: 0.5rem;
            padding: 0.5rem;
            text-transform: uppercase;

            &:hover {
                color: $accent-color;
            }

            &.selected {
                color: $accent-color;

                &::after {
                    position: absolute;
                    content: "";
                    bottom: 0;
                    height: 0.1rem;
                    background-color: $accent-color;
                    transition: 300ms ease-in-out;
                    animation: showSelector 300ms ease-in-out forwards 300ms;
                }

                &:hover {
                    color: $accent-color;
                }
            }
        }

        @media (min-width: 768px) {
            flex-direction: row;
            height: auto;
            position: static;
        }
    }
}

@keyframes showSelector {
    0% {
        left: 50%;
        right: 50%;
    }
    100% {
        left: 0;
        right: 0;
    }
}
