timezone-converter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    max-width: 80ch;

    .zone-container {
        background-color: $primary-color;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-radius: 0.5rem;

        * {
            flex: 1;
        }
    }

    input {
        margin-block: 0.5rem;
        padding: 0.5rem;
        text-align: center;
        font-size: 1.2rem;
    }

    button {
        max-width: fit-content;
        margin: 1rem auto 0 auto;
    }
}
